/*! Animations (js) */

@keyframes currency-blink-red {
    0% { color: #ffffff }
    50% { color: #ff0000 }
    100% { color: #ffffff }
}

@keyframes currency-blink-yellow {
    0% { color: #ffffff }
    50% { color: #ffc81e }
    100% { color: #ffffff }
}



@keyframes miku-miku-beam-w {
    0% { border-top: 8px solid #404040}
    50% { border-top: 16px solid #0090c0}
    100% { border-top: 8px solid #404040}
}

@keyframes miku-miku-beam-a {
    0% { border-left: 8px solid #404040}
    50% { border-left: 16px solid #0090c0}
    100% { border-left: 8px solid #404040}
}

@keyframes miku-miku-beam-s {
    0% { border-bottom: 8px solid #404040}
    50% { border-bottom: 16px solid #0090c0}
    100% { border-bottom: 8px solid #404040}
}

@keyframes miku-miku-beam-d {
    0% { border-right: 8px solid #404040}
    50% { border-right: 16px solid #0090c0}
    100% { border-right: 8px solid #404040}
}



@keyframes miku-miku-beam-sleep-w {
    0% { border-top: 8px solid #404040}
    50% { border-top: 8px solid #0090c0}
    100% { border-top: 8px solid #404040}
}

@keyframes miku-miku-beam-sleep-a {
    0% { border-left: 8px solid #404040}
    50% { border-left: 8px solid #0090c0}
    100% { border-left: 8px solid #404040}
}

@keyframes miku-miku-beam-sleep-s {
    0% { border-bottom: 8px solid #404040}
    50% { border-bottom: 8px solid #0090c0}
    100% { border-bottom: 8px solid #404040}
}

@keyframes miku-miku-beam-sleep-d {
    0% { border-right: 8px solid #404040}
    50% { border-right: 8px solid #0090c0}
    100% { border-right: 8px solid #404040}
}

/*! Notifications */

#notification-background {
    position: absolute;
    width: 100vw;
    height: 100vh;

    background: #00000000;

    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    transition: 250ms;
}

.notification-content {
    font-family: "Roboto";
    font-size: 48px;
    opacity: 0%;

    transition: 500ms;
}

/*! I'm so silly */

* {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

#container {
    width: 100vw;
    height: 100vh;
    background: #323232;
}

img {
    user-select: none;
}

/*! Sidebar */

.right-side {
    width: 20%;
    height: 100%;

    background: #242424;
    border-left: 5px solid #202020;
    border-top: 5px solid #202020;
}

.right-side > div {
    width: 100%;
    height: 100%;
}

.default-right-side {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
}

.default-right-side > div {
    width: 100%;
    height: 25%;
}

.currency-container {
    display: flex;
    flex-direction: column;
}

.currency-container div {
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.currency-container img {
    height: 80%;

    margin-left: 10px;
}

.currency-container p {
    font-size: 40px;
    font-family: "Slackey";
}

#shop-mode {
    border-top: 5px solid #202020;
    border-bottom: 5px solid #202020;
}

#shop-mode * {
    user-select: none;
}

#shop-mode-title {
    width: 100%;
    height: 25%;

    border-bottom: 5px solid #202020;

    display: flex;
    align-items: center;
    justify-content: center;
}

#shop-mode-title p {
    font-family: "Roboto";
    font-size: 32px;
}

#shop-mode-content {
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: row;
}

.shop-mode-side {
    width: 25%;
    height: 100%;
}

.shop-mode-side button {
    width: 100%;
    height: 100%;

    background: #242424;
    border: none;
    font-size: 48px;
    font-family: Verdana;
}

.shop-mode-side button:hover {
    cursor: pointer;
}

#shop-mode-icon {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#shop-mode-icon img {
    height: 90%;
}

#other-shop-icon, #gem-shop-icon {
    display: none;
}

/*! Shop */

#shop {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#map {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

/* Tiles */

.tile {
    width: 640px;
    height: 256px;
    border: 8px solid #202020;
    border-radius: 10px;
    
    display: flex;
    flex-direction: row;
}

.tile-image {
    width: 40%;
    height: 100%;

    border: 4px solid #ffeb5c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-image img {
    width: 80%;
    height: 80%;
}

.tile-details {
    width: 60%;
    height: 100%;
    border-left: 5px solid #202020;
}

.tile-title {
    width: 100%;
    height: 20%;

    border-bottom: 5px solid #202020;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.tile-title img {
    height: 80%;

    margin-left: 5px;

    justify-self: flex-start;

    display: none;
}

.tile-title p {
    font-size: 28px;
    font-family: "Roboto";
}

.tile-info {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
}

.price-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-info p {
    font-size: 32px;
    font-family: "Roboto";
    margin-left: 10px;
}

.tile-info img {
    height: 100%;
    margin-left: 5px;
}

.tile-info > div {
    width: 100%;

    display: flex;
    align-items: center;
}

.upgrade-info {
    height: 27.5%;
}

.upgrade-buttons {
    width: 100%;
    height: 45%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.upgrade-button {
    width: 95%;
}

.big-upgrade-button {
    width: 75%;
}

.small-upgrade-button {
    width: 64px;
}

.upgrade-buttons > button{
    height: 64px;

    background: #282828;
    border: 4px solid #202020;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto";
    transition: 200ms;
}

.upgrade-buttons > button:hover, .upgrade-details button:hover {
    background: #363636;
    cursor: pointer;
}

.upgrade-buttons > button:active, .upgrade-details button:active {
    background: #484848;
}

/* Tile Level */

.tile-level-container {
    position:absolute;
    width: 128px;
    height: 40px;

    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile-level-value {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
}

/* upgrade details */

.upgrade-details {
    display: none;
    flex-direction: column;
    gap: 32px;
}

.upgrade-details > img {
    width: 80%;

    align-self: center;
}

.upgrade-details-title {
    align-self: center;

    font-size: 48px;
    font-family: "Roboto";
    font-weight: bold;
}

.upgrade-details-description {
    margin-left: 16px;
    margin-right: 16px;

    font-size: 20px;
    font-family: "Roboto";
}

.upgrade-details-price-tag {
    align-self: center;
}

.upgrade-details-price-tag p {
    margin-left: 16px;

    font-size: 32px;
    font-family: "Roboto";
}

.upgrade-details-price-tag img {
    margin-left: 5px;
    height: 64px;
}

.upgrade-details button {
    align-self: center;
    width: 90%;
    height: 64px;

    background: #202020;
    border: 4px solid #161616;
    border-radius: 8px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto";
    transition: 200ms;
}

/*! Day */

#day {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

#snake-map {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#current-day-display {
    align-self: center;
}

.day-container, .time-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.day-container div, .time-container div {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.day-container div {
    height: 50%;
}

.time-container div {
    height: 30%;
}

.day-container p, .time-container p {
    font-size: 40px;
    font-family: "Slackey";
}

.day-container button {
    width: 80%;
    height: 70%;

    background: #202020;
    border: 4px solid #161616;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto";
    transition: 200ms;
}

.day-container button:hover {
    background: #363636;
    cursor: pointer;
}

.day-container button:active {
    background: #484848;
}

#snake {
    border: 8px solid #202020;
}